/*--个人资料--*/
dl.info>dt {
  width:100%;
  height: 0;
  padding-bottom: 100%;
}
dl.info>dt img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
dl.info>dt div.icon {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: .24rem;
  padding-top: .09rem;
  width: .55rem;
  height: .70rem;
  color: #fff;
}
dl.info>dt div.icon em {
  position: absolute;
  width: 120%;
  height: 0;
  transform: rotate(-31deg) translateX(.08rem) translateY(-.5rem);
  background-color: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1), rgba(250, 250, 250, 0));
  box-shadow: 0 0 .08rem .03rem #fff;
  animation: emFilter 2s infinite linear;
}
@keyframes emFilter {
  0% {
    transform: rotate(-31deg) translateX(.08rem) translateY(-.5rem);
    opacity: 1;
  }
  100% {
    transform: rotate(-31deg) translateX(.08rem) translateY(.2rem);
    opacity: 0;
  } 
}
dl.info>dt h3 {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  bottom: .08rem;
  width: 100%;
  line-height: .4rem;
  font-size: .34rem;
  color: #fff;
}
dl.info>dt h3 em {
  top: -.07rem;
  padding: 0 .08rem;
  height: .23rem;
  line-height: .22rem;
  border: 1px solid #f95862;
  border-radius: .03rem;
  text-align: center;
  font-weight: lighter;
  font-size: .12rem;
  color: #f95862;
}
dl.info>dt h3 i {
  font-size: .12rem;
}
dl.info>dd p.company {
  height: .2rem;
  line-height: .2rem;
  font-size: .15rem;
  color: rgba(250, 250, 250, .6);
}
dl.info>dd div.label {
  overflow: hidden;
  margin-top: .2rem;
  width: 100%;
  height: .76rem;
}

div.iber-frame {
  overflow: hidden;
  margin-top: .2rem;
}

/*--个性签名--*/
div.signature {
  margin-bottom: .2rem;
  padding: .15rem;
  border-radius: .06rem;
  line-height: .27rem;
  background-color: #272734;
  text-align: center;
  font-size: .16rem;
  color: #fff;
}


div.list {
  width: 100%;
  height: .48rem; 
}
div.list.suspension {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #272734;
  box-shadow: 0 .02rem .12rem 0 rgba(0,0,0,.4);
}
div.list ul {
  height: 100%;
}
div.list ul>li {
  flex: 1;
  height: 100%;
  font-size: .17rem;
  color: rgba(250, 250, 250, .6);
}
div.list ul>li span {
  z-index: 1;
}
div.list ul>li.active {
  font-weight: bold;
  color: #fff;
}
div.list ul>li.active:after {
  content: "";
  position: absolute;
  bottom: .145rem;
  left: 50%; 
  margin-left: -.16rem;
  width: .32rem;
  height: 5px;
  background-image: linear-gradient(101deg, #FD8F61 0%, #F84B62 56%, #74398A 100%);
}


div.container {
  overflow: hidden;
}
dl.theme:not(.info) {
  margin-bottom: .2rem;
  padding: .15rem;
  border-radius: .06rem;
  background-color: #272734; 
}
dl.theme:not(.info)>dt>h3 {
  height: .27rem;
  line-height: .27rem;
  font-size: .22rem;
  color: #fff;
}
dl.theme:not(.info)>dd {
  margin-top: .15rem;
}

/*--个人简介--*/
dl.profile {
  margin-top: .1rem;
}
dl.profile>dd {
  line-height: .28rem;
  font-size: .16rem;
  color: #fff;
}


/*--从业经验--*/
dl.experience>dd ul {
  padding-left: .06rem;
}
dl.experience>dd ul>li {
  padding-bottom: .5rem;
  padding-left: .21rem;
}
dl.experience>dd ul>li:last-child {
  padding-bottom: 0;
}
dl.experience>dd ul>li:not(:last-child) {
  border-left: 1px dashed #9da3b4;
}
dl.experience>dd ul>li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -.055rem;
  width: .12rem;
  height: .24rem;
  background-color: #272734;
}
dl.experience>dd ul>li::after {
  content: "";
  position: absolute;
  top: .05rem;
  left: -.055rem;
  width: .12rem;
  height: .12rem;
  border-radius: 100%;
  opacity: 0.9;
  background-image: linear-gradient(101deg, #FD8F61 0%, #F84B62 56%, #74398A 100%);
}
dl.experience>dd h3 {
  line-height: .24rem;
  font-size: .17rem;
  color: #fff;
}
dl.experience>dd p {
  margin-top: .08rem;
  margin-bottom: .16rem;
  line-height: .18rem;
  font-size: .15rem;
  color: #fff;
}
dl.experience>dd p span {
  margin-right: .1rem;
  margin-left: .1rem;
}
dl.experience>dd div {
  line-height: .28rem;
  color: rgba(250, 250, 250, .8);
}


/*--个人荣誉--*/
dl.honor>dd ul>li>span {
  width: .48rem;
}
dl.honor>dd ul>li:not(:last-child)>span::before {
  content: "";
  position: absolute;
  left: .14rem;
  width: 0;
  height: 100%; 
  border-left: 1px dashed rgba(151, 151, 151, .5);
} 
dl.honor>dd ul>li>span em {
  height: .28rem;
  line-height: .28rem;
  background-color: #272734;
  font-weight: bold;
  font-size: .14rem;
  color: #fff;
}
dl.honor>dd ul>li>div {
  flex: 1;
  padding-bottom: .32rem;
}
dl.honor>dd ul>li:last-child>div {
  padding-bottom: 0;
}
dl.honor>dd ul>li>div h3 {
  line-height: .29rem;
  font-size: .18rem;
  color: #fff;
}   
dl.honor>dd ul>li>div div {
  margin-top: .08rem;
  line-height: .28rem;
  font-size: .16rem;
  color: rgba(250, 250, 250, .8);
}  


/*--个人相簿--*/
dl.album>dd>div {
  overflow: hidden;
  margin-bottom: .4rem;
  width: 100%;
}
dl.album>dd>div:last-child {
  margin-bottom: 0;
}
dl.album>dd>div p.desc {
  line-height: .25rem;
  font-size: .16rem;
  color: #fff;
}
dl.album>dd>div>div {
  margin-top: .16rem;
}
dl.album>dd>div>div>div {
  margin-top: .15rem;
}
dl.album>dd>div span.time {
  display: block;
  margin-top: .08rem;
  line-height: .17rem;
  font-size: .14rem;
  color: #9da3b4;
}
dl.album>dd>div .my-radius {
  border-radius: .04rem;
}

div.declare {
  line-height: .17rem;
  font-size: .12rem;
  color: rgba(250, 250, 250, .2);
}





/*点赞*/
div.out-approval {
  z-index: 999;
  position: absolute;
  right: 1.28rem;
  bottom: .24rem;
  width: .4rem;
  height: .4rem;
  line-height: .4rem;
  border-radius: 100%;
  box-shadow: 0 .06rem .15rem rgba(0, 0, 0, .2);
  opacity: 0.9;
  background-image: linear-gradient(101deg, #FD8F61 0%, #F84B62 56%, #74398A 100%);
  text-align: center;
}
div.out-approval i {
  font-size: .18rem;
  color: #fff;
}

/*咨询顾问*/
div.out-consult {
  z-index: 999;
  position: absolute;
  right: .24rem;
  bottom: .24rem;
  width: .88rem;
  height: .4rem;
  line-height: .4rem;
  border-radius: .4rem;
  opacity: 0.9;
  background-image: linear-gradient(101deg, #FD8F61 0%, #F84B62 56%, #74398A 100%);
  box-shadow: 0 .06rem .15rem rgba(0, 0, 0, .2);
  text-align: center;
  font-size: .14rem;
}
div.out-consult i {
  top: .01rem;
  margin-right: .03rem;
  font-size: .18rem;
}

.agent-declare {
  overflow: hidden;
  padding: .13rem .09rem;
  line-height: .17rem;
  font-size: .12rem;
  color: #424859;
}